.box{
    margin: 20px;
}

.grid{
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid > div {
    flex-basis: calc(30% - 40px);
}

.imgs{
    max-width: 980px;
    width: 100%;
    height: 403.2px;
    
}

@media screen and (min-width: 1200px) {
    .imgs1 {
      max-width: 70%;
    }
  }

