body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Home Page style*/ 
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
  }

.nav-style a {
  color: white;
  padding: 10px;
}

.nav-style a:visited {
  color: white;
}

.nav-style a:hover {
  color: #f15b40;
}

.navbar a {
color: white;
text-align: right;
}

.navbar a:hover {
  color: #f15b40;
  }

.jumbo-style {
  margin: 40px;
}

.stats-row {
  padding: 40px;
}

.stats-body {
  margin-bottom: 20px;
}

.stats-txt {
  text-transform: uppercase;
}

.svg{
  width: 150px;
      height: auto;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
